<%- include('../partials/header') %>

<section class="project-detail">
    <h2><%= project.title %></h2>
    <div class="content">
        <p><%= project.description %></p>
        <hr>
        <p><%= project.content %></p>
    </div>
    <a href="/portfolio">عودة للمعرض</a>
</section>

<%- include('../partials/footer') %>
